<!--Title: Notification Section  -->
<!--Date: 01/12/2014-->
<!--Author: Brandon Smith-->
<!--Input: -->
<!--Output: -->
<!--Method: -->
<div class="button-bar" >
   <!-- Update to question mode-->
   <a class="button button-positive" ng-class="{'button-clear button-outline': type == 'question'}" ng-click="setType('question')">Recommended</a>
   <!-- update to answer mode-->
   <a class="button button-positive" ng-class="{'button-clear button-outline': type == 'answer'}" ng-click="setType('answer')">Answered</a>
</div>
<div class="list">
   <!-- Make a list with a header -->
   <div class="item item-divider" align="center">
      Notifications
   </div>
   <!--print the list using the current notifications to the screen -->
   <ul>
      <a class="item item-text-wrap" ng-hide="type != notification.type" ng-click="markNotification(notification._id, notification.submissionId)" ng-repeat="notification in notifications">
         <!--x is the current value -->
         {{x}}
         <!--This places the title of notification in the screen -->
         {{notification.title}}
         <!--This does a different type of formating for the body ofthenotification -->
         <div id="author">{{notification.body}}</div>
      </a>
   </ul>
</div>
<!--This button clears out all of the notifications a given user has -->
<button ng-click="clear()" class="button button-full button-positive">Clear All</button>
