	  	<!-- Card Section  -->
   <div class="card">
  <div class="item item-divider">
   <span class="left"><h1>Where is the best place</h1></span>
  <span class="right">
   <button class="button button-icon  ion-chevron-up" ng-click="vote_Up()" ></button>
 <button class="button button-icon ion-chevron-down" ng-click="vote_Down()"></button>
 </span>
  </div>
  <div class="item item-text-wrap">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
  <div class="item item-divider">
  <span class="left">-Posted by: SomeNoob49</span>
  <span class="right" > <a href="" ng-controller="PopupCtrl" ng-click="show_Popup()">Report</a> 
    </span>
  </div>
</div>

<!-- Reply Button Section  -->
	<div class="col col-80 col-offset-10"><button class="button button-full button-positive">  Reply</button></div>
	
	