
  <form name="myForm">

<div class="list list-inset">
  <label class="item item-input" >
    <input type="text" placeholder="Title" ng-model="Title" required ng-minlength="3"required ng-maxlength="100">
 </label>
  <label class="item item-input" >
    <textarea placeholder="Description (Min 3 chars)" rows="8" cols="10" ng-model="Body" required ng-minlength="3">	</textarea>
 </label>
</div>


	  <div class="col col-80 col-offset-10"><button class="button button-full button-positive" ng-disabled="myForm.$invalid" ng-click="SubmitPost(Title,Body)">Submit</button></div>
</form>


   