<!--Title: Question Card Section  -->
<!--Date: 01/12/2014-->
<!--Authors:Brandon Smith, Vaughan Hilts -->
<!--Input: -->
<!--Output: -->
<!--Method: -->


<div class="card">
   <div class="item item-divider">
      <!-- Put the title in keep it to the left-->
      <span class="left item-text-wrap">{{names.title}}</span>
      <!--This segment handles the buttons -->
      <!--Close the item dividor for the first section-->
   </div>
   <div class="col-80 " >
      <!--This places the description section-->
      <span class="left item-text-wrap">
      <br>{{names.body}}
   </div>
   <span class="right" >
      <div class="list" id="textCenter">
         <!--Changes voteing button to disabled and changes score up if pressed before disabled-->
         <button  ng-disabled="isVotedOn(names)" class="button button-icon  ion-chevron-up" ng-click="vote(names, true)" ></button>
         <!--Puts the score one the screen between the two buttons-->
         <item class="item">{{names.score | scoreFilter}}</item>
         <!--Changes voting to disabled and lowers scored if pressed before disabled-->
         <button ng-disabled="isVotedOn(names)"class="button button-icon ion-chevron-down" ng-click="vote(names, false)"></button>
      </div>
   </span>
</div>
<!--This displays the posters name-->
<div class="item item-divider">
   <span class="left" id="author">Posted by: {{names.author}} on {{names.submissionDate | date: 'medium'}}</span>
   <!--This incorperates a rebort button into the last section-->
   <span class="right" > <a href="" ng-click="show_Popup()">Report</a></span>
</div>
</div>
<!-- Answer Card Section  -->
<div class="card" ng-repeat="answer in names.answers">
   <div class="item item-divider">
      <!-- This puts the answer in the left side of the tobbox-->
      <span class="left">{{answer.title}}</span>
      <!--This is the voting system for the answers-->
      <div>
         <!--This formatting allow the score to be posted next to it and wraps nicely -->
         <div class="col-80">
            <span class="left item-text-wrap">
               <h3>
                  <!--This is the body of the current answer -->
                  {{answer.body}}
               </h3>
            </span>
         </div>
      </div>
      <!--This is the voting system for the answers-->
      <span class="right" >
         <div class="list" id="textCenter">
            <!--If a user has already voted on an answer or question this disables the option to upvote -->
            <button  ng-disabled="isVotedOn(answer)" class="button button-icon  ion-chevron-up" ng-click="vote(answer, true)" ></button>
            <!--This places the  answers score on the screen-->
            <item class="item">{{answer.score | scoreFilter}}</item>
            <!--If a user has voted disabes voting otherwise lowers socre -->
            <button ng-disabled="isVotedOn(answer)"class="button button-icon ion-chevron-down" ng-click="vote(answer, false)"></button>
         </div>
      </span>
   </div>
   <!--This part is a footer for an answer submission and it is -->
   <div class="item item-divider">
      <!-- This formats the footer on the answer -->
      <span class="left"  id="author">Posted by: {{answer.author}} on {{answer.submissionDate | date: 'medium'}}</span>
   </div>
</div>
<!-- Reply Button Section  -->
<div class="col col-80 col-offset-10"><button class="button button-full button-positive" ui-sref="reply({id:names._id, title:names.title})">Reply</button></div>
